:root {
	--background-color: #1e1e1e;
	--text-color: #e0e0e0;
	--primary-color: #28a745;
	--primary-hover-color: #218838;
	--secondary-color: #cc3333;
	--secondary-hover-color: #aa3333;
	--border-color: #444;
	--completed-text-color: #aaa;
}

html,
body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.auth-container {
	max-width: 400px;
	margin: 2rem auto;
	padding: 2rem;
	background: var(--background-color);
	color: var(--text-color);
	border-radius: 8px;
	text-align: center;
}
input {
	display: block;
	width: 100%;
	margin: 1rem 0;
	padding: 0.5rem;
	background-color: var(--background-color);
	color: var(--text-color);
	border: 1px solid var(--border-color);
}
button {
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	background-color: var(--primary-hover-color);
}
.error {
	color: var(--secondary-color);
}
